
a {
    border: 2px solid black;
}
img {
    max-width: 140px;
    text-align: end;
}
#produto {
    font-size: 40px;
    text-align: left;
    display: inline;

}
div.imagem {
    display: inline;
    text-align: end;
}
div.info {
    display: inline;
    font-size: 30px;
    float: right;
    color: green;
}
.list-group-item{
    background: white;
    margin: 5px;
}
#produto{
    color: black;
}
#tey{
    background-color: rgb(53, 59, 63);
    padding: 40px;
    border-radius: 20px;
}
.list-group-item:hover {
    background:rgb(212, 212, 212);
    transition: 0.5s;
}