<div class="container" id="external">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSenha">Senha</label>
          <input type="password" class="form-control" id="inputSenha" placeholder="Senha">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNome">Nome</label>
          <input type="text" class="form-control" id="inputNome" placeholder="Nome">
        </div>
        <div class="form-group col-md-6">
          <label for="inputSobrenome">Sobrenome</label>
          <input type="text" class="form-control" id="inputSobrenome" placeholder="Sobrenome">
        </div>
      </div>
      <button type="submit" class="btn btn-dark" id="conta">Criar conta</button>
      <a type="submit" routerLink="/">Já tenho uma conta</a>
  </form>
</div>