<div id="external">
  <form class="form-inline my-2 my-lg-0" id="search">
    <input class="form-control mr-sm-2" type="search" placeholder=". . ." aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div class="btn-group" role="group" id="buttons">
    <button class="btn btn-light">
      <img src="assets/carro.png"> <br/>
      <label>Automóveis</label>
    </button>
    <button class="btn btn-light">
      <img src="assets/pc.png"> <br/>
      <label>Eletrônicos</label>
    </button>
  </div>
</div>